<!doctype html>
<html>
 <head>
  <title>Malignant Narcissism</title><meta charset="utf-8" />  
  <link   href='{{ url_for("static",filename="images/favicon.ico")               }}' crossorigin="" rel="shortcut icon"/>
  <script src ='https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.4.0/mapbox-gl.js' crossorigin=""></script>
  <link   rel ="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src ="https://unpkg.com/leaflet@1.6.0/dist/leaflet-src.js"></script>
  <!--
  <link   rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" integrity="sha256-SHMGCYmST46SoyGgo4YR/9AlK1vf3ff84Aq9yK4hdqM=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js" integrity="sha256-EErZamuLefUnbMBQbsEqu1USa+btR2oIlCpBJbyD4/g=" crossorigin="anonymous"></script>
  -->  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
 </head>
 <body>
  <div id="mapid" style="width: 600px; height: 400px;"></div>
  <script>
//Paperwork
//Access token, attribution text, and raw data sql for Virginia
var accessT = "pk.eyJ1Ijoic21pdHR5MWUiLCJhIjoiY2syY2NnNmhjMXkyazNib2psYzhuNXc4dyJ9.U-kpFeCWrn84xGTm3PZ_rw";
var attrib  = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
var vasql   = "SELECT jsonb_build_object('type','FeatureCollection','features', jsonb_agg(feature) FROM "
            + "(SELECT jsonb_build_object('type','Feature'  "
            + "       ,'id'        , gid "
            + "       ,'geometry'  , ST_AsGeoJSON(the_geom)::jsonb  "
            + "       ,'properties', to_jsonb(inputs) - 'gid' - 'the_geom' "
            + "       ) AS feature "
            + "  FROM (SELECT * "
            + "  FROM (SELECT the_geom  "
            + "       , geoid10             AS gid      "
            + "       , COALESCE(turnout,0) AS turnout  "
            + "       FROM  (SELECT ST_ForceRHR(the_geom) as the_geom   "
            + "             , geoid10    "
            + "             , CASE WHEN COALESCE (pop_density,0) > 0 THEN  "
            + "               CAST(tot_votes/pop_density "
            + "               AS INTEGER) END  "
            + "                     AS turnout "
            + "              FROM   tl_2012_vtd10_pop "
            + "              WHERE  statefp10 = '51') AS va  "
            + "              LIMIT 2  "
            + ") raw ) inputs ) features;"; 
vasql2      = encodeURI(vasql)
             .replace(/\(/g, '%28')
             .replace(/\)/g, '%29')
             .replace(/,/g , '%2C')
             .replace(/'/g , '%27')
             .replace(/\//g, '%2F')
             .replace(/:/g , '%3A')
             .replace(/;/g , '%3B');

//Set up VA map. Coords obtained via http://www.virginiaplaces.org/boundaries/locateva.html
var corner1 = L.latLng(      39.455826, -83.667404)
  , corner2 = L.latLng(      36.549072, -75.225754)
  , bounds  = L.latLngBounds(corner1  ,  corner2  );
var mymap   = L.map('mapid').fitBounds(bounds);
L.tileLayer(      'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}'
  ,{attribution :  attrib
   ,maxZoom     :  18
   ,id          : 'mapbox.light'
   ,accessToken :  accessT
   }).addTo(  mymap );

//Obtain and display VA
//var query = "http://localhost:8888/user/development/api/v2/sql?format=GeoJSON&q=" + vasql2;

cartodbdata='{{ res.cartodata|safe }}';
var geojsonlayer = L.geoJson(cartodbdata, { 
    onEachFeature : 
      function(feature, layer)              {
          console.log(feature.properties.turnout);
          layer.bindPopup( "<h2> Turnout-to-pop: " 
                         +  feature.properties.turnout  
                         + "</h2>"
      )}
}).addTo(mymap);

//$.getJSON(query, function(cartodbdata)      {
//  console.log(cartodbdata);
//  console.log(cartodbdata['rows'][0]['jsonb_build_object']);
//  mymap.fitBounds(group.getBounds()); // zooms to fit data
//})
  </script>
 </body>
</html> 
