<!doctype html>
<html>
 <head>
  <title>Malignant Narcissism</title> 
  
  <link   href='{{ url_for("static",filename="leaflet.css")                      }}' crossorigin="" rel="stylesheet"   />
  <link   href='{{ url_for("static",filename="images/favicon.ico")               }}' crossorigin="" rel="shortcut icon"/>
  <script src ='https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.4.0/mapbox-gl.js' crossorigin=""></script>
  <script src ='{{ url_for("static",filename="leaflet.js")                       }}' crossorigin=""></script>
  <script src ='{{ url_for("static",filename="jquery-3.4.1.min.js")              }}' crossorigin=""></script>
 </head>
 <body>
  <div id="mapid" style="width: 600px; height: 400px;"></div>
  <script>
//Paperwork
//Access token, attribution text, and raw data sql for Virginia
var accessT = "pk.eyJ1Ijoic21pdHR5MWUiLCJhIjoiY2syY2NnNmhjMXkyazNib2psYzhuNXc4dyJ9.U-kpFeCWrn84xGTm3PZ_rw";
var attrib  = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
var vasql   = "SELECT va.the_geom_webmercator           "
            + "     , COALESCE(va.turnout,0) AS turnout "
            + "FROM  (SELECT the_geom_webmercator       "
            + "            , CASE WHEN COALESCE (pop_density,0) > 0          "
            + "              THEN CAST(tot_votes/pop_density AS INTEGER) END "
            + "              AS turnout                 "
            + "FROM   tl_2012_vtd10_pop                 " 
            + "WHERE  statefp10 = '51') AS va;          "

//Set up VA map. Coords obtained via http://www.virginiaplaces.org/boundaries/locateva.html
var corner1 = L.latLng(      39.455826, -83.667404)
  , corner2 = L.latLng(      36.549072, -75.225754)
  , bounds  = L.latLngBounds(corner1  ,  corner2  );
var mymap   = L.map('mapid').fitBounds(bounds);
L.tileLayer(      'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}'
  ,{attribution :  attrib
   ,maxZoom     :  18
   ,id          : 'mapbox.light'
   ,accessToken :  accessT
   }).addTo(  mymap );

//Obtain and display VA
var query = "http://localhost:8888/api/v2/sql?format=GeoJSON&q=" + vasql;
console.log("Query: " + query);

$.getJSON(query, function(cartodbdata)                {
            var geojsonlayer = L.geoJson(cartodbdata, { i
                  onEachFeature : 
                    function(feature, layer){
                      layer.bindPopup( "<h2> Turnout-to-pop: " 
                                     +  feature.properties.turnout  
                                     + "</h2>"
                    )}
            }).addTo(mymap);
            mymap.fitBounds(group.getBounds()); // zooms to fit data
})
  </script>
 </body>
</html> 
